.cta__section {
    min-height: 25.25rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../images/bg-simplify-section-mobile.svg') no-repeat left top 3rem $bright-red;
}

.cta__title {
    font-size: 2.375rem;
    font-weight: 500;
    color: $white;
}

.cta__button {
    text-align: center;
}

@media (min-width: 768px) {
    .cta__section {
        min-height: 13.75rem;
        background-image: url('../images/bg-simplify-section-desktop.svg');
        background-position: right -250px bottom 0;

        .container {
            width: 100%;
        }

        .row {
            display: flex;
            align-items: center;
        }

        .col {
            flex: 1 0 50%;
            max-width: 50%;
        }
    }

    .cta__title {
        font-size: 2.375rem;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 0;
    }

    .cta__button {
        text-align: right;
    }
}
