.featured {
    padding-bottom: 1.375rem;
}

.featured-list {
    counter-reset: featured-list-counter;
    list-style: none;
    margin: 0 -0.5rem;
    padding-left: 0;

    li {
        counter-increment: featured-list-counter;
        font-size: 0.875rem;
        line-height: 2;
        margin-bottom: 3rem;
        position: relative;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        &::before {
            content: "0" counter(featured-list-counter);
            font-size: 1rem;
            line-height: 2.4375rem;
            display: inline-block;
            text-align: center;
            color: $white;
            background-color: $bright-red;
            font-weight: bold;
            width: 66px;
            height: 2.4375rem;
            border-radius: 2.4375rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }

        &::after {
            content: '';
            display: block;
            width: calc(100% + 1rem);
            height: 2.4375rem;
            background-color: $very-pale-red;
            border-radius: 2.4375rem 0 0 2.4375rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

.featured-list h3 {
    font-size: 1rem;
    letter-spacing: -0.5px;
    min-height: 2.4375rem;
    margin-bottom: 0.625rem;
    padding: 0.5625rem 0 0.5625rem 5rem;
}

@media (min-width: 768px) {
    .featured {
        padding-bottom: 6.5rem;
    }
}

@media (min-width: 991px) {
    .featured-list {
        margin: 0;

        li {
            font-size: 1rem;
            line-height: 1.7;
            max-width: none;
            margin: 0 0 2.25rem 0;
            padding-left: 6rem;

            &::after {
                display: none;
            }
        }

        h3 {
            padding-left: 0;
        }
    }
}
