.form-group {
    display: flex;
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 1.25rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 44px;
}

.form-msg {
    font-size: 0.625rem;
    font-style: italic;
    color: indianred;
    position: absolute;
    top: 50px;
    left: 24px;
}

::placeholder {
  color: $gray;
}

[aria-invalid="true"] {
    border-color: indianred;

    &::placeholder {
      color: indianred;
      opacity: 0.8;
    }
}
