.page__body {
    text-align: center;
    margin: 0 auto 3.125rem;
}

.page__title {
    font-size: 1.875rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

.page__text {
    font-size: 0.875rem;
    line-height: 2;
    color: $gray;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .page__title {
        font-size: 2.375rem;
        margin-bottom: 1rem;
    }

    .page__text {
        font-size: 1rem;
        line-height: 1.7;
    }
}

@media (min-width: 991px) {
    .page__body {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
    
    .page__title {
        line-height: 1.2;
        margin-top: 0.25rem;
        margin-bottom: 1.5rem;
    }

    .page__text {
        max-width: 350px;
    }
}
