.testimonials {
    padding-bottom: 2.75rem;
}

.testimonial__title {
    margin-bottom: 3rem;
}

.testimonial__group {
    margin-bottom: 3rem;
    max-width: 327px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial__image {
    width: 72px;
    height: 72px;
    display: block;
    border-radius: 72px;
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial__card {
    margin: 3rem 0;
    padding: 4rem 1.125rem 1.5rem 1.125rem;
    background-color: $very-light-gray;
    position: relative;
    text-align: center;
    color: $gray;
    border-radius: 0.375rem;

    + .testimonial__card {
        margin-top: 5rem;
    }
}

.testimonial__name {
    font-size: 1rem;
}

.testimonial__quote {
    font-size: 0.875rem;
    margin: 0;
}

@media (min-width: 768px) {
    .testimonial__title {
        margin-bottom: 3.75rem;
    }

    .testimonial__group {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .testimonial__card {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .testimonial__name {
        margin-bottom: 1.25rem;
    }

    .testimonial__quote {
        font-size: 1rem;
    }
}
