$font-family: 'Be Vietnam Pro', sans-serif;

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$light: hsl(0, 0%, 96%);

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
